.infoCliente{
    text-align: center;
    padding: 2vh;
}

.localizacao{
    padding: 5vh;
    position: absolute;
    background-color: antiquewhite;
    display: flex;
    text-align: left;
    font-size: 20px;
}

.sec1 {
    width: 50vh;
}

.hora {
    display: flex;
}


/* h1{
    margin: 5vh;
    text-align: left;
}

.localizacao{
    margin-left: 2vh;
    display: flex;
    float: left;
}

.sec1, .sec2{
    padding-right: 40vh;
    font-size: 30px;
}

p {
    display: flex;
} */